body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.single_product{
  align-items: center;
}
.single_product:hover{
  background-color: rgb(156, 221, 221);
}

.single_product img{
  height: 150px;
  width: 250px;
  object-fit: contain;
}

.btn-primary{
  background-color: red;
  width: 200px;
}

.btn-primary:hover{
  background-color: green;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.homepage_pagination{
  display: flex;
  float: left;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-left: 8cm;

}

